

/* ----------------- start form register & login style ----------------------- */
.message {
    position: sticky;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    background: white;
}
.message span{
    font-size: 17px;
    color: black;
    font-weight: 500;
}
.message i{
    color: red;
    font-size: 20px;
    cursor: pointer;
}
.form-page{
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-page .form-container{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.form-container form{
    color: #fff;
    border-radius: 10px;
    background-image: linear-gradient(50deg, #FF6000, #ffa559);
    padding: 15px;
    box-shadow: 3px 3px 25px var(--original-orange);
    width: 490px;
    text-transform: capitalize;
}
.form-container form h3{
margin-bottom:10px ;
font-size: 25px;
text-align: center;
}
.form-container form input{
    height: 40px;
    width: 100%;
    background: #f3f3f3;
    color: #000;
    font-size: 17px;
    padding: 3px 10px;
    border-radius: 15px;
    margin: 5px 0;
   
}
.form-container form input[type=email]:focus,
.form-container form input[type=password]:focus,
.form-container form input[type=text]:focus{
    box-shadow: 0 0 5px #caff00;
    border: 1px solid #caff00;
}

input[type=password]::-ms-reveal{ display: none;}  /*this line to remove default eye icon from password field*/

.password-container{
position: relative;
width: 100%;
}
.show-pass{
    position: absolute;
    top: 32%;
    right: 4%;
    cursor: pointer;
    color: lightgray;
}
.fa-eye{
    color: #022255;
}
.pass-format-list{
    list-style: none;
    margin: 5px;
    display: none;
}
.pass-format-list.show{
    display: block;
}
.form-container form .submit-btn{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.form-container form input.btn{
    background: #1BBD64;
    font-size: 20px;
    color: #fff;
    cursor: pointer;
    padding: 7px;
    width: 110px;
    text-align: center;
}
.form-container form input.btn:hover{
    background: #36c677;
}
.form-container form p a{
    text-transform: capitalize;
    text-decoration: underline;
    color: #caff00;
}

/* ------------- google signing button ------------ */
/* .g-signin2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abcRioButton{
    width: 100% !important;
    height: 44px !important;
    margin: 5px;
}
.abcRioButtonContentWrapper{
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}
.abcRioButtonContentWrapper span{
    font-size: 20px;
}
.abcRioButtonSvgImageWithFallback,
.abcRioButtonSvgImageWithFallback .abcRioButtonSvg{
    width: 26px !important;
    height: 26px !important;
} */


@media (max-width:767px){
    .form-container form{
        width: 96%;
        padding: 10px;
    }
}
/* ----------------- end form register & login style ----------------------- */

